@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap");

@layer components {
  .heroButton {
    @apply px-6 py-2 my-2 border border-emerald-500 rounded-full uppercase text-xs tracking-widest text-gray-500 backdrop-blur-md transition-all hover:border-emerald-500/40 hover:text-emerald-500/40
  }
  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 md:py-4 py-2 border-emerald-500 text-gray-500 placeholder-gray-500 transition-all focus:border-emerald-500/40 focus:text-emerald-500/40
    hover:border-emerald-500/40
  } 
  .contactButton {
    @apply bg-transparent text-gray-400 border border-emerald-500 font-bold py-2 px-5 rounded-md hover:text-white hover:border-[white] hover:duration-1000;
  }
}

@font-face {
  font-family: "VALORAX";
  src: url("/src/styles/fonts/Valorax-lg25V.otf");
}

* {
  -webkit-font-smoothing: antialiased;
}